$color-black: #292830;
$color-orange: #FF7235;
$color-gray: #BDBDBD;
@import './respo';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

ul {
    list-style: none;
    gap: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;

}

.header__container {
    margin-top: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 106px;

    a {
        color: $color-black;
        font-size: 18px;
        font-weight: 400;
        line-height: 17.1px;

        &:hover {
            text-decoration: underline;
            color: orange;
        }
    }

    .head__btn {
        button {
            padding: 16px 18px;
            background-color: #ffffff;
            border: 1px solid #FF7235;
            border-radius: 8px;
            transition: 0.5s;
            font-size: 18px;
            font-weight: 400;
            line-height: 17.1px;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
                box-shadow: -6px 12px 21px 15px rgba(34, 60, 80, 0.2);
                background-color: black;
                color: white;
            }
        }
    }
}

// hero
.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 211px;

    .hero__left {
        h1 {
            font-size: 96px;
            font-weight: 700;
            line-height: 96px;
            color: $color-black;
            margin-bottom: 20px;

        }

        p {

            font-size: 24px;
            font-weight: 400;
            line-height: 38.81px;
            color: $color-gray;
            margin-bottom: 40px;
        }

        button {
            padding: 18px 24px;
            align-items: center;
            background: $color-orange;
            border: none;
            gap: 10px;
            border-radius: 8px;
            color: #ffffff;
            font-size: 24px;
            font-weight: 400;
            line-height: 38.81px;
            cursor: pointer;
            transition: all 0.5s;
            margin-right: 15px;

            &:hover {
                background-color: black;
                box-shadow: -4px 19px 13px 6px rgba(34, 60, 80, 0.2);
            }

            &:active {
                transform: scale(0.98);
            }
        }

        a {
            font-size: 24px;
            font-weight: 400;
            line-height: 38.81px;
            color: $color-gray;
        }


    }

}

.hero__right {
    img {
        width: 538px;
        height: 478px;
    }
}

// card styles 

.card {
    text-align: center;
    margin-bottom: 211px;
    padding-top: 70px;
}